.map-wrapper {
    position: relative;
    width: 100%;
    height: 90vh;
}

/* The Google Map container div inside */
.map-wrapper>div {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
