.result-container {
    display: flex;
    height: 100vh; /*full screen height */
    width: 100vw; /* full screen width */
    overflow: hidden; /* prevents scrollbars */
}

.sidebar {
    width: 25%;
    /* left panel takes 25% width */
    min-width: 300px;
    /* prevent collapsing */
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    overflow-y: auto;
}

.map-container {
    flex: 1;
    /* map takes remaining space */
    position: relative;
}

.map-container>div {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    :root {
        --text-color: #213547;
        --bg-color: #ffffff;
        --button-bg: #f9f9f9;
        --link-hover: #747bff;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffff;
        --bg-color: #1a1a1a;
        --button-bg: #2c2c2c;
        --link-hover: #4a90e2;
    }
}
